@charset "UTF-8";
.button, .header__inner-menu-item-cart-content-bottom button, .main__inner-grid-item-btn {
  outline: none;
  font-family: "roboto condensed";
  background: white;
  border: 2px solid #141414;
  width: 175px;
  height: 45px;
  transition: 0.4s;
  cursor: pointer;
}

.button:hover, .header__inner-menu-item-cart-content-bottom button:hover, .main__inner-grid-item-btn:hover {
  background: #efa91c;
  transition: 0.4s;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.active {
  display: block;
}

.unactive {
  display: none;
}

.activeFlex {
  display: flex;
}

.header {
  background: #b01301;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__inner-logo {
  height: 60px;
  transform: scaleX(-1);
}

.header__inner-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__inner-menu a {
  text-decoration: none;
  color: #FDFFFC;
  margin-right: 40px;
  font-family: "dosis";
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}

.header__inner-menu a:hover {
  color: #141414;
  transition: 0.3s;
  cursor: pointer;
}

.header__inner-menu-item-cart {
  position: relative;
}

.header__inner-menu-item-cart-pop {
  position: absolute;
  height: 20px;
  left: 25px;
  bottom: 20px;
}

.header__inner-menu-item-cart-img {
  cursor: pointer;
  height: 35px;
  margin-right: 40px;
}

.header__inner-menu-item-cart-content {
  background: rgba(213, 127, 127, 0.8);
  height: 400px;
  width: 400px;
  position: absolute;
  right: 1%;
  z-index: 20000;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.header__inner-menu-item-cart-content-top {
  font-family: "dosis";
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.header__inner-menu-item-cart-content-item {
  height: 100px;
  border: 2px solid black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.header__inner-menu-item-cart-content-item-delete {
  height: 30px;
  cursor: pointer;
}

.header__inner-menu-item-cart-content-item-shoe {
  height: 100px;
}

.header__inner-menu-item-cart-content-item-price {
  font-family: "dosis";
  font-size: 20px;
}

.header__inner-menu-item-cart-content-bottom {
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.header__inner-menu-item-cart-content-bottom button {
  margin-bottom: 10px;
}

.header__inner-menu-item-cart-content-bottom button:first-child {
  margin-right: 10px;
}

.header__inner-menu-item-burger {
  height: 30px;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
}

.header__inner-menu-item-burger:hover {
  transform: rotate(90deg);
  transition: 0.4s;
}

.header__inner-menu-item-burger-dropdown {
  width: 100%;
  height: 90%;
  margin-left: -87px;
  margin-top: 25px;
  position: fixed;
  background: grey;
  padding-left: 30px;
  padding-top: 30px;
  overflow-y: scroll;
}

.header__inner-menu-item-burger-dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__inner-menu-item-burger-dropdown ul li {
  margin-bottom: 10px;
  font-family: "roboto condensed";
  font-weight: 300;
  font-size: 17px;
  transition: 0.3s;
  cursor: pointer;
}

.header__inner-menu-item-burger-dropdown ul li::before {
  content: "▼";
  font-size: 10px;
}

.header__inner-menu-item-burger-dropdown ul li:hover {
  color: white;
  transition: 0.3s;
}

.header__inner-menu-item-burger-dropdown ul li div {
  flex-direction: column;
}

.header__inner-menu-item-burger-dropdown ul li div a {
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  background: #b01301;
  width: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__inner-menu-item-burger-dropdown ul li div a:hover {
  background: white;
}

.main {
  padding-top: 150px;
}

.main__inner-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}

.main__inner-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}

.main__inner-grid-item-img {
  height: 90px;
}

.main__inner-grid-item-price {
  font-family: "dosis";
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
/*# sourceMappingURL=stylesShop.css.map */