@charset "UTF-8";
.button, .header__inner-menu-item-cart-content-bottom button, .main__inner-grid-item-btn, .footer button, .shoePopup div button {
  outline: none;
  font-family: "roboto condensed";
  background: white;
  border: 2px solid #141414;
  width: 175px;
  height: 45px;
  transition: 0.4s;
  cursor: pointer;
}

.button:hover, .header__inner-menu-item-cart-content-bottom button:hover, .main__inner-grid-item-btn:hover, .footer button:hover, .shoePopup div button:hover {
  background: #efa91c;
  transition: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.active {
  display: block;
}

.unactive {
  display: none;
}

.activeFlex {
  display: flex;
}

.header {
  background: #b01301;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__inner-logo {
  height: 60px;
  transform: scaleX(-1);
}

.header__inner-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__inner-menu a {
  text-decoration: none;
  color: #FDFFFC;
  margin-right: 40px;
  font-family: "dosis";
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}

.header__inner-menu a:hover {
  color: #141414;
  transition: 0.3s;
  cursor: pointer;
}

.header__inner-menu-item-cart {
  position: relative;
}

.header__inner-menu-item-cart-pop {
  position: absolute;
  height: 20px;
  left: 25px;
  bottom: 20px;
}

.header__inner-menu-item-cart-img {
  cursor: pointer;
  height: 35px;
  margin-right: 40px;
}

.header__inner-menu-item-cart-content {
  background: rgba(213, 127, 127, 0.8);
  height: 400px;
  width: 400px;
  position: absolute;
  right: 1%;
  z-index: 20000;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.header__inner-menu-item-cart-content-top {
  font-family: "dosis";
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.header__inner-menu-item-cart-content-item {
  height: 100px;
  border: 2px solid black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.header__inner-menu-item-cart-content-item-delete {
  height: 30px;
  cursor: pointer;
}

.header__inner-menu-item-cart-content-item-shoe {
  height: 100px;
}

.header__inner-menu-item-cart-content-item-price {
  font-family: "dosis";
  font-size: 20px;
}

.header__inner-menu-item-cart-content-item-name {
  font-family: "dosis";
  font-size: 15px;
  text-align: center;
  margin-bottom: 25px;
}

.header__inner-menu-item-cart-content-item-size {
  font-family: "dosis";
  font-size: 20px;
  text-align: center;
}

.header__inner-menu-item-cart-content-bottom {
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.header__inner-menu-item-cart-content-bottom button {
  margin-bottom: 10px;
}

.header__inner-menu-item-cart-content-bottom button:first-child {
  margin-right: 10px;
}

.header__inner-menu-item-burger {
  height: 30px;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
}

.header__inner-menu-item-burger:hover {
  transform: rotate(90deg);
  transition: 0.4s;
}

.header__inner-menu-item-burger-dropdown {
  width: 100%;
  height: 90%;
  margin-left: -87px;
  margin-top: 25px;
  position: fixed;
  background: rgba(200, 200, 200, 0.9);
  padding-left: 30px;
  padding-top: 30px;
  overflow-y: scroll;
}

.header__inner-menu-item-burger-dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__inner-menu-item-burger-dropdown ul li {
  margin-bottom: 10px;
  font-family: "roboto condensed";
  font-weight: 300;
  font-size: 17px;
  transition: 0.3s;
  cursor: pointer;
}

.header__inner-menu-item-burger-dropdown ul li::before {
  content: "▼";
  font-size: 10px;
}

.header__inner-menu-item-burger-dropdown ul li:hover {
  color: white;
  transition: 0.3s;
}

.header__inner-menu-item-burger-dropdown ul li div {
  flex-direction: column;
}

.header__inner-menu-item-burger-dropdown ul li div a {
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  background: #b01301;
  width: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__inner-menu-item-burger-dropdown ul li div a:hover {
  background: white;
}

.main {
  padding-top: 130px;
  padding-bottom: 75px;
}

.main__inner-title {
  font-family: "roboto condensed";
  font-size: 30px;
  margin-bottom: 2px;
  margin-bottom: 20px;
  position: relative;
}

.main__inner-title::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  background: black;
}

.main__inner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 30px;
}

.main__inner-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
}

.main__inner-grid-item-img {
  height: 90px;
}

.main__inner-grid-item-price {
  font-family: "dosis";
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.main__inner-grid-item-name {
  font-family: "dosis";
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.main__inner-grid-item-name::after {
  content: "";
  background: #141414;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.main__inner-grid-item-name:hover::after {
  height: calc(100% + 8px);
}

.main__inner-grid-item-name:hover {
  color: white;
  transition: 0.4s;
}

.main__inner-grid-item-name::before {
  content: "";
  background: #141414;
  position: absolute;
  width: calc(100% + 20px);
  left: -10px;
  height: 2px;
  bottom: -4px;
}

.main__inner-grid-item select {
  border: 2px solid black;
  outline: none;
  margin-top: 10px;
  font-family: "dosis";
  padding: 5px;
}

.footer {
  background: #b01301;
  padding-top: 25px;
  padding-bottom: 20px;
}

.footer ul {
  list-style: none;
  display: flex;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner-left {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.footer__inner-right img {
  height: 30px;
  margin-right: 30px;
  transform: scale(1);
  transition: 0.3s;
  cursor: pointer;
}

.footer__inner-right img:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.shoePopup {
  display: flex;
  border: 2px solid black;
  width: 770px;
  align-items: center;
  justify-content: space-around;
  z-index: 1000000;
  background: white;
  margin-left: -385px;
  margin-top: -177px;
  position: fixed;
  top: 50%;
  left: 50%;
}

.shoePopup__close {
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.shoePopup__img {
  height: 350px;
  border-right: 2px solid black;
}

.shoePopup div {
  background: rgba(176, 19, 1, 0.3);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shoePopup div p {
  font-family: "dosis";
  font-size: 20px;
}

.shoePopup div select {
  border: 2px solid black;
  outline: none;
  margin-top: 10px;
  font-family: "dosis";
  padding: 5px;
}

.shoePopup div button {
  margin-top: 15px;
}

.shoePopup__top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoePopup__top p {
  margin-right: 15px;
}

.shoePopup__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#lightbox {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
}
/*# sourceMappingURL=stylesShop.css.map */