@import "vars";
@import "extends";

* {
    box-sizing:border-box
}

body {
    position:relative;
}

.container {
    width:1250px;
    margin:0 auto;
}

.active {
    display: block;
}

.unactive {
    display:none;
}

.activeFlex {
    display: flex;
}

.header {
    background: $firm-color;
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
    width:100%;
    z-index:100;
    &__inner {
        display: flex;
        justify-content: space-between;
        &-logo {
            height:60px;
            transform:scaleX(-1);
        }

        &-menu {
            display: flex;
            align-items: center;
            list-style: none;
            a {
                text-decoration: none;
                color:#FDFFFC;
                margin-right: 40px;
                font-family: "dosis";
                font-size:18px;
                transition:0.3s;
                cursor:pointer;

                &:hover {
                    color:$dark-color;
                    transition:0.3s;
                    cursor:pointer;
                }
            }
            &-item {
                &-cart {
                    position:relative;

                    &-pop {
                        position:absolute;
                        height:20px;
                        left: 25px;
                        bottom:20px;
                    }
                    &-img {
                        cursor:pointer;
                        height:35px;
                        margin-right: 40px;
                    }
                    &-content {
                        background:rgba(213, 127, 127, 0.8);
                        height:400px;
                        width:400px;
                        position:absolute;
                        right:1%;
                        z-index:20000;
                        padding-top: 10px;
                        padding-bottom: 20px;
                        overflow-y: scroll;
                        // overflow-x: hidden;
                        padding-left: 20px;
                        padding-right: 20px;
                        &-top {
                            font-family: "dosis";
                            font-size: 20px;
                            text-align: center;
                            margin-bottom: 10px;
                        }
                        &-item {
                            height:100px;
                            border:2px solid rgb(0, 0, 0);
                            background: white;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-left: 20px;
                            padding-right: 20px;
                            margin-bottom: 20px;
                            &-delete {
                                height:30px;
                                cursor: pointer;
                            }

                            &-shoe {
                                height:100px;
                            }

                            &-price {
                                font-family: "dosis";
                                font-size: 20px;
                            }

                            &-name {
                                font-family: "dosis";
                                font-size: 15px;
                                text-align: center;
                                margin-bottom: 25px;
                            }

                            &-size {
                                font-family: "dosis";
                                font-size: 20px;
                                text-align: center;
                            }

                        }

                        &-bottom {
                            bottom: 20px;
                            display: flex;
                            justify-content: space-between;
                            button {
                                @extend .button;
                                margin-bottom: 10px;
                                &:first-child {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
                &-burger {
                    height:30px;
                    transition:0.4s;
                    cursor:pointer;
                    position: relative;
                    &:hover {
                        transform: rotate(90deg);
                        transition:0.4s;
                    }

                    &-dropdown {
                        width:100%;
                        height:90%;
                        margin-left: -87px;
                        margin-top: 25px;
                        position: fixed;
                        background:rgba(200,200,200,0.9);
                        padding-left: 30px;
                        padding-top: 30px;
                        overflow-y: scroll;
                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            li {
                                margin-bottom: 10px;
                                font-family: "roboto condensed";
                                font-weight:300;
                                font-size:17px;
                                transition:0.3s;
                                cursor: pointer;
                                &::before {
                                    content:"▼";
                                    font-size:10px;
                                }
                                &:hover {
                                    color:white;
                                    transition:0.3s;
                                }

                                div {
                                    flex-direction: column;
                                    a {
                                        margin-bottom: 10px;
                                        margin-top: 10px;
                                        color:white;
                                        background:$firm-color;
                                        width:170px;
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        &:hover {
                                            background:white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}

.main {
    padding-top: 130px;
    padding-bottom: 75px;
    &__inner {
        &-title {
            font-family:"roboto condensed";
            font-size:30px;
            margin-bottom: 2px;
            margin-bottom: 20px;
            position:relative;
            &::after {
                content: "";
                position:absolute;
                width:10%;
                height:2px;
                background:black;
            }
        }
        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: 2fr;
            // gap:20px;
            column-gap: 100px;
            row-gap: 30px;
            &-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border:2px solid black;
                padding:10px;
                &-img {
                    height:90px;
                }
                &-price {
                    font-family: "dosis";
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 10px;
                }
                &-btn {
                    @extend .button;
                }
                &-name {
                    font-family: "dosis";
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 10px;
                    position:relative;
                    cursor:pointer;
                    &::after{
                        content: "";
                        background: $dark-color;
                        mix-blend-mode: exclusion;
                        width: calc(100% + 20px);
                        height: 0;
                        position: absolute;
                        bottom: -4px;
                        left: -10px;
                        transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                    }
                      
                    &:hover::after{
                        height: calc(100% + 8px)
                    }

                    &:hover {
                        color:white;
                        transition:0.4s;
                    }

                    &::before {
                        content:"";
                        background: $dark-color;
                        position:absolute;
                        width: calc(100% + 20px);
                        left:-10px;
                        height:2px;
                        bottom:-4px;
                    }
                }
            
                select {
                    // height:20px;
                    // width:60px;
                    border:2px solid black;
                    outline:none;
                    margin-top: 10px;
                    font-family: "dosis";
                    // font-size: 14px;
                    padding:5px;
                }
            }
        }
    }
}

.footer {
    background:$firm-color;
    padding-top: 25px;
    padding-bottom: 20px;
    ul {
        list-style: none;
        display: flex;
    }

    button {
        @extend .button;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            align-items: center;
            display: flex;
            margin-bottom: 10px;
        }
        &-right {
            img {
                height:30px;
                margin-right: 30px;
                transform: scale(1);
                transition: 0.3s;
                cursor:pointer;
                &:hover {
                    transform: scale(1.2);
                    transition:0.4s;
                }
            }
        }
    }
}

.shoePopup {
    display: flex;
    border:2px solid black;
    width:770px;
    align-items: center;
    justify-content: space-around; 
    z-index:1000000;
    background:white;
    margin-left: -385px;
    margin-top: -177px;
    // visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    &__close {
        height:30px;
        position:absolute;
        right:0;
        top:0;
        cursor:pointer;
    }
    &__img {
         
        height:350px;
        border-right:2px solid black;

    }

    div {
        background:rgba(176,19,1,0.3);
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        p {
            font-family: "dosis";
            font-size: 20px;
        }
        select {
            // height:20px;
            // width:60px;
            border:2px solid black;
            outline:none;
            margin-top: 10px;
            font-family: "dosis";
            // font-size: 14px;
            padding:5px;
        }
        button {
            @extend .button;
            margin-top: 15px;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            margin-right: 15px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

#lightbox {
    display:none;
    position: absolute;
    width:100%;
    height:100%;
    z-index:1000;
    background-color: rgba(255,255,255,0.9);
}